
@keyframes fly {
    0% { transform: translateX(100%) }
    100% { transform: translateX(-100%) }
}


/* 內容第一頁 */


.content_one {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.content_one .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-left: 6rem;
}
.content_one .content .content_title {
    font-size: 6.5rem;
    font-weight: 900;
    height: 40rem;

}

.content_one .content .content_title p {
    display: inline-block;
    transform: translate(5rem);
    opacity: 0;
    transition: all ease 1s;
}

.content_one .content .content_title p::after {
    content: '';
    background: white;
    height: .3rem;
    display: block;
    margin: 1rem 0;
    transition: all ease 1s;
    width: 0;
}
.content_one.show .content .content_title p::after {
    width: 100%;
}


.content_one .content .content_subtitle {
    letter-spacing: 1rem;
    font-size: 1.6rem;
    transform: translate(5rem);
    transition: all ease 1s;
    opacity: 0;
}

.content_one.show .content .content_subtitle,
.content_one.show .content .content_title p,
.content_one.show .mail_box {
    transform: translate(0);
    opacity: 1;
}
.content_one.show .content .content_subtitle {
    transition-delay: .3s;
}


/* 右側小圖標 */




.content_one .mail_box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 15rem;
    background-color: #2d2c51;
    font-size: 1.6rem;
    transition: all ease 1s;
    opacity: 0;
    transform: translateY(5rem);
}

.content_one.show .mail_box {
    transition-delay: .6s;
}

.content_one .mail_box > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.content_one .mail_box .mail {
    text-align: center;
    line-height: 15rem;
    color: white;
    letter-spacing: .2rem;
    position: absolute;
    z-index: 3;
}

.content_one .mail_box .bg {
    background: skyblue;
    transition: 2s ease all;
    opacity: 0;
}

.content_one .mail_box:hover .bg {
    opacity: 1;
}

.content_one .rocket {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
